argon2-cffi-bindings==21.2.0 ; python_version >= "3.11" and python_version < "4.0"
argon2-cffi==25.1.0 ; python_version >= "3.11" and python_version < "4.0"
blinker==1.9.0 ; python_version >= "3.11" and python_version < "4.0"
boto3==1.39.4 ; python_version >= "3.11" and python_version < "4.0"
botocore==1.39.4 ; python_version >= "3.11" and python_version < "4.0"
cachelib==0.13.0 ; python_version >= "3.11" and python_version < "4.0"
certifi==2025.7.14 ; python_version >= "3.11" and python_version < "4.0"
cffi==1.17.1 ; python_version >= "3.11" and python_version < "4.0"
charset-normalizer==3.4.2 ; python_version >= "3.11" and python_version < "4.0"
click==8.2.1 ; python_version >= "3.11" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.11" and python_version < "4.0" and platform_system == "Windows"
connector-http @ git+https://github.com/sartography/connector-http.git@c540e66785ac5819725de5d2e044e33d11d6dde7 ; python_version >= "3.11" and python_version < "4.0"
connector-pdf @ git+https://github.com/btylerburton/connector-pdf.git@c80e3845293f86e55d2ed326a0d751151b6504c1 ; python_version >= "3.11" and python_version < "4.0"
connector-slack @ git+https://github.com/sartography/connector-slack.git@2df500f83ce8d91b15dd0f3d8a42e8695c0b57a8 ; python_version >= "3.11" and python_version < "4.0"
connector-smtp @ git+https://github.com/sartography/connector-smtp.git@2535b6a7df1d20a94860ac3480db95f92c9ea88f ; python_version >= "3.11" and python_version < "4.0"
flask-oauthlib==0.9.6 ; python_version >= "3.11" and python_version < "4.0"
flask==2.3.3 ; python_version >= "3.11" and python_version < "4.0"
greenlet==3.2.3 ; python_version >= "3.11" and python_version < "4.0"
gunicorn==20.1.0 ; python_version >= "3.11" and python_version < "4.0"
idna==3.10 ; python_version >= "3.11" and python_version < "4.0"
itsdangerous==2.2.0 ; python_version >= "3.11" and python_version < "4.0"
jinja2==3.1.6 ; python_version >= "3.11" and python_version < "4.0"
jmespath==1.0.1 ; python_version >= "3.11" and python_version < "4.0"
markupsafe==3.0.2 ; python_version >= "3.11" and python_version < "4.0"
minio==7.2.15 ; python_version >= "3.11" and python_version < "4.0"
oauthlib==2.1.0 ; python_version >= "3.11" and python_version < "4.0"
playwright==1.53.0 ; python_version >= "3.11" and python_version < "4.0"
pycparser==2.22 ; python_version >= "3.11" and python_version < "4.0"
pycryptodome==3.23.0 ; python_version >= "3.11" and python_version < "4.0"
pyee==13.0.0 ; python_version >= "3.11" and python_version < "4.0"
python-dateutil==2.9.0.post0 ; python_version >= "3.11" and python_version < "4.0"
requests-oauthlib==1.1.0 ; python_version >= "3.11" and python_version < "4.0"
requests==2.32.4 ; python_version >= "3.11" and python_version < "4.0"
s3transfer==0.13.0 ; python_version >= "3.11" and python_version < "4.0"
setuptools==80.9.0 ; python_version >= "3.11" and python_version < "4.0"
six==1.17.0 ; python_version >= "3.11" and python_version < "4.0"
spiffworkflow-connector-command @ git+https://github.com/sartography/spiffworkflow-connector-command.git@main ; python_version >= "3.11" and python_version < "4.0"
spiffworkflow-proxy @ git+https://github.com/sartography/spiffworkflow-proxy@daf3bc83d371c32ee6f0ced1aa69e5240c1db485 ; python_version >= "3.11" and python_version < "4.0"
typing-extensions==4.14.1 ; python_version >= "3.11" and python_version < "4.0"
urllib3==2.5.0 ; python_version >= "3.11" and python_version < "4.0"
werkzeug==3.1.3 ; python_version >= "3.11" and python_version < "4.0"
xmltodict==0.13.0 ; python_version >= "3.11" and python_version < "4.0"
