<!DOCTYPE html>
<html>

<head>
  <title>{{projectName}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  <style>
    html {
      font-family: Arial, Helvetica, sans-serif
    }

    ol.list-upper-alpha {
      list-style-type: upper-alpha;
    }

    ol.list-upper-alpha li ol {
      list-style-type: lower-alpha;
      margin: auto 1rem;
    }

    ol.list-upper-alpha ::marker {
      font-weight: bold;
    }

    ol.list-upper-alpha span {
      font-weight: bold;
    }

    ol.list-upper-alpha span::after {
      content: "\A";
      white-space: pre;
    }
  </style>
</head>

<body>
  <div class="container mx-auto p-5">

    <div class="flex">
      <div class="w-15 flex-none">
        <img src="https://www.blm.gov/themes/custom/blm_d9_22/logo.svg" />
      </div>
      <div class="flex-1 ml-3">
        <div class="agency__name uppercase">United States Department of the Interior</div>
        <div class="agency__sub-name">Bureau of Land Management</div>
      </div>
    </div>

    <div class="flex mt-2">
      <div class="flex-1">
        <ul class="list-none">
          <li>{{fieldofficeName}}</li>
          <li>{{streetAddress}}</li>
          <li>{{city}}, {{zipCode}}</li>
        </ul>
      </div>
      <div class="flex-1">
        <ul class="list-none float-right">
          <li>Categorical Exclusion</li>
          <li>{{categoricalExclusionID}}</li>
        </ul>
      </div>
    </div>

    <ol class="list-upper-alpha mt-5">
      <li>
        <span>Background:</span>
        Proposed Action Title/Type: {{projectName}}
        <br />Location of Proposed Action: {{locationOfProposedAction}}
        <br />Lease/Serial/Case File No (if any): {{leaseSerialCaseFileNumber}}
        <br />Applicant: {{applicant}}
      </li>
      <li>
        <span>Description of Proposed Action:</span>
        {{description}}
      </li>
      <li>
        <span>Land Use Plan Conformance:</span>
        Land Use Plan Name: {{landUsePlanName}}
        <br />Date Approved: {{dateApproved}}
        <br />The proposed action is in conformance with the applicable LUP because... {{conformanceOption}}

        <br />
        {% if conformanceOption == 'specificallyProvided' %}
        {{lupDecisions}}
        {% elif conformanceOption == 'clearlyConsistent'%}
        {{managementGoalsObjectives}}
        {% endif %}
      </li>
      <li>
        <span>Compliance with NEPA:</span>

        The Proposed Action is categorically excluded from further documentation under the National Environmental
        Policy
        Act
        (NEPA) in accordance with: {{nepaComplianceOption}}

        <br />{{complianceReference}}

        <br />We recommend that you approach adoption of a CX determination similarly to adopting another agency's EA or
        EIS
        and coordinated on development of a single document that addresses both agencies' requirements and is signed by
        both agencies. However, if this is not feasible, you may adopt a CX determination through additional
        documentation that shows determination of the proposed action as substantially the same as the action covered by
        the original CX and that no DOI extraordinary circumstances are present (40 CFR 1506.3(d)(1)).
      </li>
      <li>
        <span>Extraordinary Circumstances Review:</span>
        <span>
          The proposed action will not:
        </span>

        <ol>
          <li>
            <span>Have significant impacts on public health.</span>

            Rationale:
            {{publicHealthImpacts}}

          </li>
          <li>
            <span>
              Have significant impacts on such natural resources and unique geographic characteristics as historic or
              cultural
              resources; park, recreation or refuge lands; wilderness areas; wild or scenic rivers; national natural
              landmarks;
              sole
              or principal drinking water aquifers; prime farmlands; wetlands (Executive Order 11990); floodplains
              (Executive
              Order
              11988); national monuments; migratory birds; and other ecologically significant or critical areas.
            </span>

            Rationale:
            {{naturalResourcesImpacts}}
          </li>
          <li>
            <span>
              Have highly controversial environmental effects or involve unresolved conflicts concerning alternative
              uses
              of
              available resources [NEPA section 102 (2) (E)].
            </span>

            Rationale:
            {{controversialEffects}}
          </li>
          <li>
            <span>
              Establish a precedent for future action or represent a decision in principle about future actions with
              potentially
              significant environmental effects.
            </span>

            Rationale:
            {{precedentForFutureAction}}
          </li>
          <li>
            <span>
              Have a direct relationship to other actions with individually insignificant but cumulatively significant
              environmental
              effects.
            </span>

            <span>
              Have significant impacts on properties listed, or eligible for listing, on the National Register of
              Historic
              Places as determined by the bureau.
            </span>

            Rationale:
            {{cumulativeImpacts}}
          </li>
          <li>
            <span>
              Have significant impacts on species listed, or proposed to be listed, on the List of Endangered or
              Threatened
              Species, or have significant impacts on designated Critical Habitat for these species.
            </span>

            Rationale:
            {{endangeredSpeciesImpacts}}
          </li>
          <li>
            <span>
              Violate a Federal law, or a State, local or tribal law or requirement imposed for the protection of the
              environment.
            </span>

            Rationale:
            {{violateEnvironmentalLaw}}
          </li>
          <li>
            <span>
              Limit access to and ceremonial use of Indian sacred sites on Federal lands by Indian religious
              practitioners
              or
              significantly adversely affect the physical integrity of such sacred sites (Executive Order 13007).
            </span>

            Rationale:
            {{limitAccessToSacredSites}}
          </li>
          <li>
            <span>
              Contribute to the introduction, continued existence, or spread of noxious weeds or non-native invasive
              species
              known
              to occur in the area or actions that may promote the introduction, growth, or expansion of the range of
              such
              species
              (Federal Noxious Weed Control Act and Executive Order 13112).
            </span>

            Rationale:
            {{promoteNoxiousWeeds}}
          </li>
          <li>
            <span>Conclusion</span>

            This categorical exclusion is appropriate in this situation because there are no extraordinary circumstances
            having
            effects that significantly affect the environment. The proposed action has been reviewed, and none of the
            extraordinary circumstances described in 43 CFR Part 46.215 apply.

            I considered {{categoricalExclusionJustification}}

          </li>
          <li>
            <span>Signature</span>
            >>> signature goes here
          </li>
        </ol>
      </li>
    </ol>

    <div class="mt-3">
      Responsible Official: {{responsibleOfficial}} Date: {{date}}
    </div>

    <div class="mt-3 font-bold">Contact Person</div>
    For additional information concerning this CX review, please contact:
    <br />{{contactPerson}}, {{contactTitle}}
    <br /> {{officeName}} {{mailingAddress}} {{telephoneNumber}}


    <div class="mt-3 font-bold">ATTACHMENTS:</div>
    List any other documents including but not limited to map(s), design features.
  </div>


</body>

</html>
