---
name: Pull Request Checks

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main

jobs:
  run-pytest:
    name: Run Pytest
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Set up uv
        uses: astral-sh/setup-uv@v3
        with:
          version: 'latest'

      - name: Install dependencies
        run: uv sync

      - name: Run tests
        run: make test-pytest
